/* Custom properties */
:root {
  /*Primary colors*/
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  /*Neutral colors*/
  --white: hsl(0, 0%, 100%);
  --white-rose: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
  /*Font*/
  --body-font-size: 1rem;
}

body {
  font-size: var(--body-font-size);
  font-family: "Outfit";
  background-color: var(--eggshell);
  color: var(--wenge-brown);
}

.container {
  background-color: var(--white);
  height: 106.875em;
  width: 46.125em;
  border-radius: 15px;
  margin-top: 7.625rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7.625rem;
}

.inner_container {
  margin-left: 2.5625rem;
  margin-right: 2.5625rem;
  padding-top: 2.625rem;
  padding-bottom: 2.375rem;
}

img {
  height: 18.75rem;
  width: 41rem;
  border-radius: 15px;
  margin-bottom: 2.25rem;
}

.title {
  font-family: "Young Serif";
  font-size: 2.25rem;
  color: var(--dark-charcoal);
  margin-bottom: 2rem;
}

.description {
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--dark-raspberry);
}
